<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="spring-database.xml" />

    <bean id="authorRepository" class="com.epam.app.dao.impl.AuthorRepositoryImpl"/>
    <bean id="commentRepository" class="com.epam.app.dao.impl.CommentRepositoryImpl"/>
    <bean id="newsAuthorRepository" class="com.epam.app.dao.impl.NewsAuthorRepositoryImpl"/>
    <bean id="newsRepository" class="com.epam.app.dao.impl.NewsRepositoryImpl"/>
    <bean id="newsTagRepository" class="com.epam.app.dao.impl.NewsTagRepositoryImpl"/>
    <bean id="roleRepository" class="com.epam.app.dao.impl.RoleRepositoryImpl"/>
    <bean id="tagRepository" class="com.epam.app.dao.impl.TagRepositoryImpl"/>
    <bean id="userRepository" class="com.epam.app.dao.impl.UserRepositoryImpl"/>

    <bean id="searchUtils" class="com.epam.app.utils.SearchUtils"  init-method="init"/>
    <bean id="scriptFileUtils" class="com.epam.app.utils.ScriptFileUtils"/>
    <bean id="databaseUtils" class="com.epam.app.utils.DatabaseUtils"/>

    <bean id="authorService" class="com.epam.app.service.impl.AuthorServiceImpl"/>
    <bean id="commentService" class="com.epam.app.service.impl.CommentServiceImpl"/>
    <bean id="newsAuthorService" class="com.epam.app.service.impl.NewsAuthorServiceImpl"/>
    <bean id="newsService" class="com.epam.app.service.impl.NewsServiceImpl"/>
    <bean id="newsTagService" class="com.epam.app.service.impl.NewsTagServiceImpl"/>
    <bean id="roleService" class="com.epam.app.service.impl.RoleServiceImpl"/>
    <bean id="tagService" class="com.epam.app.service.impl.TagServiceImpl"/>
    <bean id="userService" class="com.epam.app.service.impl.UserServiceImpl"/>

</beans>