<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config />

    <import resource="spring-database.xml" />

    <bean id="authorRepository" class="com.epam.newsmanagement.app.dao.impl.AuthorRepositoryImpl"/>
    <bean id="commentRepository" class="com.epam.newsmanagement.app.dao.impl.CommentRepositoryImpl"/>
    <bean id="newsAuthorRepository" class="com.epam.newsmanagement.app.dao.impl.NewsAuthorRepositoryImpl"/>
    <bean id="newsRepository" class="com.epam.newsmanagement.app.dao.impl.NewsRepositoryImpl"/>
    <bean id="newsTagRepository" class="com.epam.newsmanagement.app.dao.impl.NewsTagRepositoryImpl"/>
    <bean id="roleRepository" class="com.epam.newsmanagement.app.dao.impl.RoleRepositoryImpl"/>
    <bean id="tagRepository" class="com.epam.newsmanagement.app.dao.impl.TagRepositoryImpl"/>
    <bean id="userRepository" class="com.epam.newsmanagement.app.dao.impl.UserRepositoryImpl"/>

    <bean id="searchUtils" class="com.epam.newsmanagement.app.utils.SearchUtils"/>
    <bean id="scriptFileUtils" class="com.epam.newsmanagement.app.utils.ScriptFileUtils"/>
    <bean id="databaseUtils" class="com.epam.newsmanagement.app.utils.DatabaseUtils"/>
    <bean class="org.springframework.beans.factory.config.MethodInvokingBean">
        <property name="targetClass" value="com.epam.newsmanagement.app.utils.DatabaseInitializingUtils" />
        <property name="targetMethod" value="initializeDatabase" />
    </bean>

    <bean id="authorService" class="com.epam.newsmanagement.app.service.impl.AuthorServiceImpl"/>
    <bean id="commentService" class="com.epam.newsmanagement.app.service.impl.CommentServiceImpl"/>
    <bean id="newsAuthorService" class="com.epam.newsmanagement.app.service.impl.NewsAuthorServiceImpl"/>
    <bean id="newsService" class="com.epam.newsmanagement.app.service.impl.NewsServiceImpl"/>
    <bean id="newsTagService" class="com.epam.newsmanagement.app.service.impl.NewsTagServiceImpl"/>
    <bean id="roleService" class="com.epam.newsmanagement.app.service.impl.RoleServiceImpl"/>
    <bean id="tagService" class="com.epam.newsmanagement.app.service.impl.TagServiceImpl"/>
    <bean id="userService" class="com.epam.newsmanagement.app.service.impl.UserServiceImpl"/>

</beans>