<beans:beans xmlns="http://www.springframework.org/schema/security"
			 xmlns:beans="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <beans:bean id="customAuthenticationFailureHandler" class="com.epam.newsmanagement.handler.CustomAuthenticationFailureHandler"/>

	<beans:bean id="requestDataValueProcessor" class="org.springframework.security.web.servlet.support.csrf.CsrfRequestDataValueProcessor"/>

	<beans:bean id="csrfFilter" class="org.springframework.security.web.csrf.CsrfFilter">
		<beans:constructor-arg>
			<beans:bean class="org.springframework.security.web.csrf.HttpSessionCsrfTokenRepository">
				<beans:property name="headerName" value="X-XSRF-TOKEN"/>
			</beans:bean>
		</beans:constructor-arg>
	</beans:bean>

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/news-list/**" access="isAuthenticated() and hasRole('ADMIN')"/>
        <intercept-url pattern="/authors/**" access="isAuthenticated() and hasRole('ADMIN')"/>
        <intercept-url pattern="/tags/**" access="isAuthenticated() and hasRole('ADMIN')"/>
        <intercept-url pattern="/news/**" access="isAuthenticated() and hasRole('ADMIN')"/>
		<intercept-url pattern="/add/**" access="isAuthenticated() and hasRole('ADMIN')"/>
		<intercept-url pattern="/edit/**" access="isAuthenticated() and hasRole('ADMIN')"/>
        <access-denied-handler error-page="/403" />
		<form-login
				login-page="/login"
				default-target-url="/news-list"
				authentication-failure-url="/login?error"
				username-parameter="login"
				password-parameter="password"
                authentication-failure-handler-ref="customAuthenticationFailureHandler"/>
		<logout logout-success-url="/login?logout"  />
		<csrf/>
	</http>

	<authentication-manager alias="authenticationManager">
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				   users-by-username-query=
                   "select LOGIN, PASSWORD, 1 AS ENABLED from USERS where LOGIN = ?"
               authorities-by-username-query=
                   "select LOGIN, ROLE_NAME
                    from ROLES JOIN (select LOGIN, ROLE_ID from USERS where LOGIN = ?) USING (ROLE_ID)" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>